.link:hover{
  text-decoration: underline;
}
.cardImg{
  width: 50%;
  height: 200px;
  margin: auto;
  overflow: hidden;
}
.cardImg:hover{
  overflow-y: scroll;
}
.card{
  margin: 15px;
}

.button{
  margin: 10px;
}

.portfolioText{
  text-align: center;
  margin: 20px;
}
.title{
  font-size: 20px;
}