@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;

}
@media (max-width: 840px){
  .portfolioContainer{
    flex-direction: column;
  }
}

.aboutMe{
  padding: 15px;
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: white; 
}

#navLinks{
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
}
#mainTitle{
  margin-left: 10px;
}

.btn{
  border-radius: 25px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  width: 8rem;
  margin: 15px;
}
.btn-container{
  text-align: center;
  margin: 10px;
}
.btn:hover{
  opacity: 0.5;
  cursor: pointer;
}

#skillImage :hover{
  transform: scale(1.5);
}
.portfolioContainer{
  display: flex;
  justify-content: space-around;
}

.imgSize {
  width: 200px;
  height: auto;
}

li{
  margin: 5px;
  font-size: 20px;  
}

ul{
  margin: auto auto;
}

li:hover{
  opacity: 0.5;
  text-decoration: underline;
  cursor: pointer;
}
#mainTitle{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;

}
.sectionTitle{
  font-size: 50px;
  text-align: center;
  margin: 30px;
}

.skillsContainer{
  margin: 30px 15px;

}
.skillsContainer img{
  margin: 0px auto;
  border-radius: 20px;
  
}
.skillsContainer p{
  text-align: center;
}

.socialMedia img{
  width: 100px;
  height: auto;
  margin: 20px;
  
}
.socialMedia img:hover{
  opacity: 0.5;
}
.socialMediaIcons{
  display: flex;
  justify-content: center;
  margin: 50px;
 
}
#about img{
  border-radius: 100%;
  margin: 0px auto;
}
#about p{
  margin-top: 25px;
  text-align: center;
}
#about{
  margin: 30px 15px;
}
